.page-checkout{
    margin-top: 10vh;
}


.container-checkout{
    width: 40vw !important;
    margin-left: 30vw !important;
    margin-top: 20vh;
    padding: 10px;
    background-color: rgb(228, 228, 228);
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(58, 58, 58);

}

.input-checkout{
    margin-top: 2vh;
}

.label-checkout{
    margin-top: 5px;
}


.buttons-checkout{
    margin-top: 5vh !important;
    margin-left: 10vw !important;
}
