.container-products{
    margin-top: 5vh !important;
}

.checkout-header{
    font-weight: 700;
    font-size: 2rem;
}

.checkout-items{
    font-size: 1.1rem;
}

.checkout-div{
    margin-left: 37vw;
    font-style: italic;
    font-weight: 500;
}

.checkout-form{
    display: grid;
    grid-template-columns: 20vw 10vw;
    margin-top:10px;
    margin-left: 35vw;
}

.checkout-input{
    padding: 10px !important;
}

.checkout-button{
    padding: 10px !important;
    margin-left: 10px !important;
    background-color: green !important;


}

.checkout-alert{
    width: 30vw !important;
    margin-left: 35vw;
    margin-top: 5vw !important;
}